numpy
opencv-python-headless
torch==1.9.0
torchvision==0.10.0
streamlit==1.26.0
filelock
typing-extensions
nvidia-cuda-cupti-cu11==11.7.101
nvidia-curand-cu11==10.2.10.91
nvidia-nccl-cu11==2.14.3
jinja2
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cublas-cu11==11.10.3.66
sympy
nvidia-cuda-runtime-cu11==11.7.99
triton==2.0.0
nvidia-cusolver-cu11==11.4.0.1
nvidia-nvtx-cu11==11.7.91
networkx
nvidia-cusparse-cu11==11.7.4.91
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
requests
pillow!=8.3.*,>=5.3.0
